.new_card {
    .card_content {
        text-align: left;
        padding: 0 10px;

        .name {
            padding: 15px 0;
           h5 {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            transition: all 0.3s ease-in-out;
           }

           .description {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
           }
        }
    }
}