@use '../partials/variables.scss' as v;

.pitch_card {
    border: 1px solid v.$light-green;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    margin: 0 15px;

    .card_image {
        height: 176px;
        // overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: v.$gray;
        img {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 100%;
        }
    }

    .card_content {
        text-align: left;
        padding: 10px 15px;

        .name {
            h5 {
                font-size: 1.28rem;
            }
        }

        .price {
            p {
                font-size: 1.1rem;
            }
            span {
                color: v.$light-green;
            }
        }
    }

    .card_button {
        margin-bottom: 15px;
        margin-top: 5px;
        
    }
}