@use './partials/variables.scss' as v;

.header {
    width: 100%;
    color: v.$black;
    background: v.$white;
    max-height: 100px;
    padding: .5rem 0;
    box-shadow: 2px 5px 5px rgba(159, 147, 147, 0.5);
    overflow: hidden;

    // display: flex;
    .left {
        display: flex;
        align-items: center;
        gap: .7rem;

        .logo {}

        .text-logo {}
    }

    .list_menu {
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: space-around;

        .item_menu a {
            cursor: pointer;
            color: v.$black;
            text-decoration: none;
            transition: all 0.4s;
        }

        .item_menu a:hover {
            color: v.$light-green;
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.5rem;
    }
}

// Content main page
.site_content_page {
    width: 100%;
    overflow-x: hidden;
}

// footer
.footer {
    background-color: #f0f0f0;
    color: v.$black;

    // height:
    .left {
        .title {
            padding: 10px 0;
            border-bottom: 1px solid v.$light-green;
        }

        ul {
            .item_left {
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: .5rem;
            }
        }



    }

    .center {
        margin-left: 10px;
        h4 {
            text-align: center;
            padding-top: 18px;
        }
        .list_images {
            margin-top: 16px;
            ul {
                li {
                    margin: 5px 0;
                    padding: 0 2px;
                    img {
                        height: 80px;
                        width: 100%;
                    }
                }
            }
        }
    }


    .right {
        margin-left: 14px;
        .text {
            text-align: center;
            padding-top: 18px;
        }
    }

    .copyright {
        text-align: center;
        padding: 1.5rem 0;

    }
}